<p id="notice"><%= notice %></p>

<div class="container">
	
	<h2>Sign In</h2>
	
	<%= form_tag create_session_url do %>
		<div class="field">
			<%= label_tag :email %>
			<%= email_field_tag :email %>
		</div>
		<div class="field">
			<%= label_tag :password %>
			<%= password_field_tag :password %>
		</div>
		<div class="field">
			<%= label_tag :password_confirmation %>
			<%= password_field_tag :password_confirmation %>
		</div>
		<div class="actions">
		    <%= submit_tag 'Sign In' %>
		</div>
	<% end %>
</div>