<%= form_for @food, :html => {:multipart => true} do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

	<%= f.fields_for :prices do |p| %>
		<div class="field">
		    <%= p.label :price, 'Enter price of the food' %><br />
		    <%= p.number_field :price %>
		</div>
	<% end %>
	
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </di>
  <div class="field">
	<%= f.label :remote_picture_url, "or image URL" %><br />
    <%= f.text_field :remote_picture_url %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
	
	<%= f.fields_for :posts do |s| %>
		<div class="field">
		    <%= s.label :note, 'Why do you recommend this food?' %><br />
		    <%= s.text_area :note, :rows => 3 %>
		</div>
		<div class="field">
			<%= s.label :rating %><br />
		    <%= s.select :rating, { "Select" => nil, "*" => "1", "**" => "2", "***" => "3", "****" => "4", "*****" => "5"} %>
		</div>
	<% end %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
