<p id="notice"><%= notice %></p>

<div class="container">
	<h1>Listing foods</h1>

	<table>
	  <tr>
		<th>Name</th>
	    <th>Price</th>
	    <th>Picture</th>
	    <th>Category</th>
	    <th></th>
	  </tr>

	<% @foods.each do |food| %>
	  <tr>
	    <td><%= link_to food.name, food %></td>
	    <td><%= food.price %></td>
	    <td>
			<% if food.picture_url %>
				<%= image_tag food.picture_url(:thumb).to_s, :alt => food.name %>
			<% else %>
				no picture :(
			<% end %>
		</td>
	    <td><%= food.category_id %></td>
	    <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Food', new_food_path %>
</div>
