<p id="notice"><%= notice %></p>
<%= render 'layouts/top_navigation' %>
<div class="container">
	<h2>
	  <%= @food.name %>
	</h2>

	<p>
	  <%= image_tag @food.picture_url(:show).to_s, :alt => @food.name %>
	</p>

	<p>
	  <b>Price:</b>
	  <%= @food.price %>
	</p>

	<%= link_to 'Edit', edit_food_path(@food) %> |
	<%= link_to 'Back', foods_path %>

	<br />
	<h3>Food's yoummies</h3>
	<div class="post">
		<ul>
			<% @posts.each do |post| %>
			    <li>
					<%= post.picture %>
					<%= post.note %>
					<%= post.rating %>
				</li>
			    <!-- <td><%= link_to 'Show', post %></td>
			    			    <td><%= link_to 'Edit', edit_post_path(post) %></td>
			    			    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
			  </tr>
			<% end %>
	<div>
		
	<%= render 'posts/form' %>

</div>





