<p id="notice"><%= notice %></p>

<%= render 'layouts/top_navigation' %>

<div class="container">
	<h2>
	  <%= @food.name %>
	</h2>

	<p>
	  <%= image_tag @food.picture_url(:show).to_s, :alt => @food.name, :class => "picture" %>
	</p>

	<p>
	  <b>Price:</b>
	  <%= @food.price %>
	</p>
	
	<p>
	  <b>Average rating:</b>
	  <%= @rating_avg %>
	</p>

	<%= link_to 'Edit', edit_food_path(@food) %>

	<br />
	<h3>Food's yoummies</h3>
	<div class="post">
		<ul>
			<% @posts.each do |post| %>
			    <li>
					<%= post.note %><br />
					Rating: <%= post.rating %>
				</li>
			    <!-- 	<%= link_to 'Show', post %>
			    		<%= link_to 'Edit', edit_post_path(post) %></td>
			    		<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> -->
			  </tr>
			<% end %>
	<div>
		
	<%= render 'posts/form' %>

</div>





