<p id="notice"><%= notice %></p>



<div class="container">
	<h2>
	  <%= @food.name %>
	</h2>

	<p>
	  <%= image_tag @food.picture_url(:show).to_s, :alt => @food.name, :class => "picture" %>
	</p>

	<p>
	  <b>Price:</b>
	  <%= @prices.last.price %>
	</p>
	
	<p>
	  <b>Average rating:</b>
	  <%= @rating_avg %>
	</p>

	<%= link_to 'Edit', edit_food_path(@food) %>

	<br />
	<h3>Posts</h3>
	
	<%= render 'posts/posts' %>
	
	<%= render 'posts/form' %>

</div>





